<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <h1>welcome to home page</h1><br> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
    <br>

    <button><a href="./add">add student</a></button>

    <table border="1">
        <th>name</th>
        <th>age</th>
        <th>
            location
        </th>
        <th colspan="2">actions</th>
        {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.location}}</td>
            <td> <a href="edit/{{student.id}}">edit</a> </td>
            <td> <a href="delete/{{student.id}}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>